################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/Debug/**
/**/obj/**
/**/obj/Debug/**
**.suo
**.user
/**/bin
/.vs
.vs/**
packages
packages/**
sources/mfc.webclient/app/*.js
sources/mfc.webclient/app/*.js.map
sources/mfc.webclient/app/node_modules/**
sources/mfc.webclient/app/node_modules
sources/mfc.webclient/app/typings/**
sources/mfc.webclient/app/typings