################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/Debug/**
/**/obj/**
/**/obj/Debug/**
/**/packages/
**.dll
bin/Debug/mfc.domain.dll
bin/Debug/mfc.domain.dll
bin/Debug/mfc.infrastructure.interface.dll
bin/Debug/mfc.infrastructure.interface.pdb
sources/mfc.domain.interface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sources/mfc.domain.interface/obj/Debug/mfc.domain.interface.csproj.FileListAbsolute.txt
sources/mfc.domain.interface/obj/Debug/mfc.domain.interface.csprojResolveAssemblyReference.cache
sources/mfc.domain.interface/obj/Debug/mfc.domain.interface.dll
sources/mfc.domain.interface/obj/Debug/mfc.domain.interface.pdb
sources/mfc.domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sources/mfc.domain/obj/Debug/mfc.domain.csprojResolveAssemblyReference.cache
sources/mfc.domain/obj/Debug/mfc.domain.dll
sources/mfc.domain/obj/Debug/mfc.domain.pdb
sources/mfc.infrastructure.interface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sources/mfc.infrastructure.interface/obj/Debug/mfc.infrastructure.interface.csprojResolveAssemblyReference.cache
sources/mfc.infrastructure.interface/obj/Debug/mfc.infrastructure.interface.dll
sources/mfc.infrastructure.interface/obj/Debug/mfc.infrastructure.interface.pdb
sources/mfc.infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sources/mfc.infrastructure/obj/Debug/mfc.infrastructure.csprojResolveAssemblyReference.cache
sources/mfc.infrastructure/obj/Debug/mfc.infrastructure.dll
sources/mfc.infrastructure/obj/Debug/mfc.infrastructure.pdb
sources/mfc.web/bin/mfc.dal.interface.pdb
sources/mfc.web/bin/mfc.dal.pdb
sources/mfc.web/bin/mfc.domain.dll
sources/mfc.web/bin/mfc.domain.interface.dll
sources/mfc.web/bin/mfc.domain.interface.pdb
sources/mfc.web/bin/mfc.domain.pdb
sources/mfc.web/bin/mfc.infrastructure.dll
sources/mfc.web/bin/mfc.infrastructure.interface.dll
sources/mfc.web/bin/mfc.infrastructure.interface.pdb
sources/mfc.web/bin/mfc.infrastructure.pdb
sources/mfc.web/bin/mfc.web.dll
sources/mfc.web/bin/mfc.web.dll.config
sources/mfc.web/bin/mfc.web.pdb
sources/mfc.web/bin/NHibernate.xml
sources/mfc.web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sources/mfc.web/obj/Debug/mfc.web.csprojResolveAssemblyReference.cache
sources/mfc.web/obj/Debug/mfc.web.dll
sources/mfc.web/obj/Debug/mfc.web.pdb
