<span defaultOverlayTarget></span>
<div class="container-fluid custom-modal-container">
	<div class="row custom-modal-header">
		<div class="col-sm-12">&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form id="acception-editor" class="form" role="form" [ngBusy]="{busy: busy, message:busyMessage}" style="position: relative"
				#acceptionForm="ngForm">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="!acceptionForm.form.valid"
								style="width:100%">Сохранить</button>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<button id="button-cancel" class="btn btn-primary" (click)="dialog.dismiss()" style="width:100%">Отменить</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<label>ФИО заявителя/наименование ЮЛ</label>
							<input class="form-control" name="customer" [(ngModel)]="context.model.customer" #customer="ngModel" required>
							<div [hidden]="customer.valid||customer.pristine" class="alert alert-danger">Укажите Ф.И.О.</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<label>Категория заявителя/посетителя</label>
							<select name="customerType" class="form-control" [(ngModel)]="context.model.customer_type">
								<option *ngFor="let customerType of context.customerTypes" [ngValue]="customerType">{{customerType.caption}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>ОГВ</label>
					<select name="organization" class="form-control" (change)="onChangeOrganization($event.target.value)" [(ngModel)]="selected_organization"
						#ogv>
						<option selected="selected" value="0">Выберите ОГВ</option>						
						<option *ngFor="let organization of organizations" [value]="organization.id"
						
						>{{organization.caption}}</option>
					</select>
				</div>
				<div>
					<div class="form-group">
						<ng2-completer [dataService]="autoCompleteServices" [minSearchLength]="0" (selected)="onSelectService($event)" [disableInput]="ogv.value==0"
							placeholder="Выберите услугу" textSearching="Поиск..." textNoResults="Ничего не найдено!" [(ngModel)]="selected_service"
							name="service"></ng2-completer>
						<input type="hidden" [(ngModel)]="selected_service" name="test" required #selectedService="ngModel">
						<div [hidden]="selectedService.valid||selectedService.pristine" class="alert alert-danger">Укажите услугу</div>
					</div>
					<div class="form-group">
						<ng2-completer [dataService]="autoCompleteServicesChild" [minSearchLength]="0" (selected)="onSelectServiceChild($event)"
							[disableInput]="!selectedService.valid || ogv.value==0" placeholder="Выберите подуслугу" textSearching="Поиск..." textNoResults="Ничего не найдено!"
							[(ngModel)]="selected_service_child" name="service_child"></ng2-completer>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<label>Дата</label>
							<my-date-picker [options]="myDatePickerOptions" (dateChanged)="onChangeDate($event)" [selDate]="currentDate"></my-date-picker>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<input type="checkbox" id="input-is-resident" name="is_non_resident" [(ngModel)]="context.model.is_non_resident">
							<label for="input-is-resident">&nbsp;Иногородний</label>
						</div>
						<div class="form-group">
							<input type="checkbox" id="input-is-free-visit" name="is_free_visit" [(ngModel)]="context.model.is_free_visit">
							<label for="input-is-free-visit">&nbsp;Бесплатный выезд</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Комментарий</label>
					<textarea id="input-comments" [(ngModel)]="context.model.comments" class="form-control" name="comments" style="resize:vertical"></textarea>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<label>Тип услуги</label>
							<select name="actionType" class="form-control" [(ngModel)]="context.model.action_type">
								<option *ngFor="let actionTypes of context.actionTypes" [ngValue]="actionTypes" >{{actionTypes.caption}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<label>Эксперт</label>
							<select name="expert" class="form-control" [(ngModel)]="context.model.expert">
								<option *ngFor="let expert of context.users" [ngValue]="expert" >{{expert.user_name}}</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>