<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container'>
	<div class="row custom-modal-header">
		<div class="col-sm-12">&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form [formGroup]="formGroup" id="acception-editor" class="form" role="form" [ngBusy]="{busy: busy, message:busyMessage}"
				style="position: relative">
				<div class="form-group">
					<label>Эксперт</label>
					<select name="expert" class="form-control" (change)="onChangeExpert($event.target.value)">
						<option *ngFor="let expert of experts" [value]="expert.id" >{{expert.user_name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Дата</label>
					<my-date-picker [options]="myDatePickerOptions" (dateChanged)="onChangeDate($event)" [selDate]="currentDate"></my-date-picker>
				</div>
				<div class="form-group" [ngClass]="{'has-error':!formGroup.controls['customer'].valid && formGroup.controls['customer'].touched, 'shake': isShaking}">
					<label>ФИО заявителя/наименование ЮЛ</label>
					<input id="input-customer" class="form-control" name="customer" [formControl]="formGroup.controls['customer']">
					<div *ngIf="!formGroup.controls['customer'].valid && formGroup.controls['customer'].touched" class="form-control alert alert-danger">Поле не может быть пустым.</div>
				</div>
				<div class="form-group">
					<label>Категория заявителя/посетителя</label>
					<select name="customerType" class="form-control" (change)="onChangeCustomerType($event.target.value)">
						<option *ngFor="let customerType of customerTypes" [value]="customerType.id">{{customerType.caption}}</option>
					</select>
				</div>
				<div class="form-group">
					<input type="checkbox" id="input-is-resident" name="is_non_resident" [formControl]="formGroup.controls['is_non_resident']">
					<label for="input-is-resident">&nbsp;Иногородний</label>
				</div>
				<div class="form-group">
					<input type="checkbox" id="input-is-free-visit" name="is_free_visit" [formControl]="formGroup.controls['is_free_visit']">
					<label for="input-is-free-visit">&nbsp;Бесплатный выезд</label>
				</div>
				<div class="form-group">
					<label>ОГВ</label>
					<select name="organization" class="form-control" (change)="onChangeOrganization($event.target.value)">
						<option selected="selected" value="0">Выберите ОГВ</option>						
						<option *ngFor="let organization of organizations" [value]="organization.id">{{organization.caption}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Услгуа</label>
					<select class="form-control" (change)="onChangeService($event.target.value)" [disabled]="serviceField.length==1" #serviceField>
						<option selected="selected">Выберите услугу</option>						
						<option *ngFor="let service of services" [value]="service.id">{{service.caption}}</option>
					</select>
				</div>

				<div class="form-group">
					<label>Подуслуга</label>
					<select name="service_child" class="form-control" (change)="onChangeServiceChild($event.target.value)" [disabled]="serviceChildField.length==1"
						#serviceChildField>
						<option selected="selected">Выберите подуслгу</option>
						<option *ngFor="let service_child of service_childs" [value]="service_child.id">{{service_child.caption}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Тип услуги</label>
					<select name="actionType" class="form-control" (change)="onChangeActionType($event.target.value)">
						<option *ngFor="let actionType of actionTypes" [value]="actionType.id">{{actionType.caption}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Комментарий</label>
					<textarea id="input-comments" [formControl]="formGroup.controls['comments']" class="form-control" name="comments" style="resize:vertical"></textarea>
				</div>
				<div class="form-group">
					<a id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)">Применить</a>
					<a id="button-cancel" class="btn btn-primary" (click)="dialog.dismiss()">Отменить</a>
				</div>
			</form>
		</div>
	</div>
</div>