<h2>Категории посетителей/заявителей</h2>

<a (click)="addType()" class="btn btn-primary">Новый</a>
<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Наименование</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of customerTypes">
            <td hidden>{{type.id}}</td>
            <td>{{type.caption}}</td>
            <td>
            
                <a (click)="editType(type)" class="glyphicon glyphicon-edit" title="Редактировать"></a>
                <a (click)="deleteType(type)" class="glyphicon glyphicon-remove" title="Удалить запись"></a>
            </td>
        </tr>
    </tbody>
</table>

