<h2>Категории посетителей/заявителей</h2>

<a data-toggle="modal" data-target="#CreateUser" class="btn btn-primary">Новый</a>
<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Наименование</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of customerTypes">
            <td hidden>{{type.id}}</td>
            <td>{{type.caption}}</td>
            <td>
                <a ng-click="editUser($index)" data-toggle="modal" data-target="#UpdateUser" class="glyphicon glyphicon-edit" title="Редактировать"></a>
                <a data-toggle="modal" data-target="#ChangePassword" class="glyphicon glyphicon-lock" title="Сменить пароль" ng-click="find_user($index)"></a>
                <a ng-click="deleteUser($index)" class="glyphicon glyphicon-remove" title="Удалить пользователя"></a>
            </td>
        </tr>
    </tbody>
</table>

