@model mfc.web.Models.PasswordModel
@{
    ViewBag.Title = "Настройка учетной записи";
}

@section featured {
    <section class="featured">
        <div class="row">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>
}

<p class="message-success">@ViewBag.StatusMessage</p>

@Html.Partial("_SetPasswordPartial")
