<h2>Справочник "Виды деятельности"</h2>

<button (click)="onNewClick($event)">Новый</button>
<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>Описание</th>
            <th>Создавать дела</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let actiontype of actiontypes">
            <td>{{actiontype.caption}}</td>
            <td>{{actiontype.need_make_file}}</td>
            <td>
                <a (click)="onEditClick($event, actiontype)" class="glyphicon glyphicon-edit" title="Редактировать"></a>
                <a (click)="onDeleteClick($event, actiontype)" class="glyphicon glyphicon-remove" title="Удалить"></a>
            </td>
        </tr>
    </tbody>
</table>
