<div class='container-fluid custom-modal-container'>
	<div class="row custom-modal-header">
		<div class="col-sm-12">
			<h1>{{header_text}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form id="organization-edit-form" class="form-horizontal" role="form" #orgForm="ngForm">
				<input [(ngModel)]="context.model.id" type="hidden" id="input-id" name="id">

				<md-input-container class="m-input-container">
					<input mdInput [(ngModel)]="context.model.caption" id="input-caption" name="caption" placeholder="Наименование" required
					 #caption="ngModel" />
				</md-input-container>
				<md-input-container class="m-input-container">
					<input mdInput [(ngModel)]="context.model.full_caption" id="input-caption" name="full_caption" placeholder="Полное наименование"
					 required #full_caption="ngModel" />
				</md-input-container>
				<md-select placeholder="ОГВ" class="m-input-select" [(ngModel)]="context.model.organization_type" name="organization_type"
				 required #ogv="ngModel">
					<md-option *ngFor="let ogv of organization_types" [value]="ogv">{{ogv.caption}}</md-option>
				</md-select>
				<div class="form-group input-buttons">
					<div class="col-sm-12  text-right">
						<button md-raised-button id="button-apply" (click)="submit(context.model)" [disabled]="!orgForm.form.valid">OK</button>
						<button md-button id="button-cancel" (click)="dialogRef.close()">Отменить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>