<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\sources\mfc.dal\packages.config" />
  <repository path="..\sources\mfc.domain\packages.config" />
  <repository path="..\sources\mfc.infrastructure\packages.config" />
  <repository path="..\sources\mfc.web\packages.config" />
</repositories>