@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

<h2>Список пользователей</h2>

<div ng-app="webapi" ng-controller="usersController" ng-cloak>
    @Html.ActionLink("Добавить пользователя", "Create", "Admin", null, new { @class = "btn btn-primary" })
    <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Имя пользователя</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td hidden>{{user.id}}</td>
                <td>{{user.user_name}}</td>
                <td>{{user.description}}</td>
                <td><a ng-click="deleteUser($index)">Удалить</a></td>
            </tr>
        </tbody>
    </table>
</div>

@section javascripts{
    <script src="~/Content/js/angular/modules/app.js"></script>
    <script src="~/Content/js/angular/controllers/usersController.js"></script>
    <script src="~/Content/js/angular/services/usersServices.js"></script>
}