@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

<h2>Список пользователей</h2>

<div ng-controller="usersController">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.user_name}}</td>
                <td>{{user.description}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section javascripts{
    <script src="~/Content/js/angular/modules/app.js"></script>
    <script src="~/Content/js/angular/controllers/usersController.js"></script>
    <script src="~/Content/js/angular/services/usersServices.js"></script>
}