<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">АРМ МФЦ</a>
        </div>
        <main-menu></main-menu>
    </div>
</nav>

<mfc-workplace></mfc-workplace> 
<footer class="navbar-bottom">
    <hr />
    <div class="float-left">
        <p>&copy; {{date.getFullYear()}} - МФЦ город Урай</p>
    </div>
</footer>