<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container'>
	<div class="row custom-modal-header">
		<div class="col-sm-12">
			<h1>{{context.title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form id="organization-edit-form" role="form" #orgForm="ngForm">
				<input [(ngModel)]="context.model.id" type="hidden" id="input-id" name="id">
				<div class="form-group">
					<input [(ngModel)]="context.model.caption" id="input-caption" class="form-control" name="caption" placeholder="Наименование"
						required #caption="ngModel" />
					<div [hidden]="caption.valid||caption.pristine" class="alert alert-danger">Укажите наименование</div>
				</div>
				<div class="form-group">
					<input [(ngModel)]="context.model.full_caption" id="input-full-caption" class="form-control" name="full-caption" placeholder="Полное  наименование">
				</div>
				<div class="form-group">
					<select [(ngModel)]="context.model.organization_type" name="input-organization-type" class="form-control" required #orgType="ngModel">
						<option *ngFor="let type of context.organizationTypes" [ngValue]="type">{{type.caption}}</option>
					</select>
					<div [hidden]="orgType.valid||orgType.pristine" class="alert alert-danger">Укажите тип</div>
				</div>
				<div class="form-group input-buttons">
					<button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="!orgForm.form.valid">Сохранить</button>
					<button id="button-cancel" class="btn btn-warning" (click)="dialog.dismiss()">Отменить</button>
				</div>
			</form>
		</div>
	</div>
</div>