<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container'>
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>{{context.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form role="form" #actionTypeForm="ngForm">
                <div class="form-group">
                    <label>Наименование</label>
                    <input [(ngModel)]="context.model.caption" id="input-caption" class="form-control" name="caption" placeholder="Введите наименование"
                        required #caption="ngModel" />
                    <div [hidden]="caption.valid||caption.pristine" class="alert alert-danger">Укажите наименование</div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="input-need-make-file" name="need_make_file" [(ngModel)]="context.model.need_make_file">
                    <label for="input-need-make-file">&nbsp;Создавать дело</label>
                </div>
                <div class="form-group">
                    <button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="!actionTypeForm.form.valid">Сохранить</button>
                    <button id="button-cancel" class="btn btn-warning" (click)="dialog.dismiss()">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>