@model Int64
<div class="action-menu">
    <p>@Html.ActionLink("Отправить на контроль", "Control", new { fileId = Model })</p>
    <p>@Html.ActionLink("Вернуть для исправления", "Return", new { fileId = Model })</p>
    <p>@Html.ActionLink("Проверено", "Test", new { fileId = Model })</p>
</div>
