@model mfc.web.Models.ServiceActionViewModel

@{
    if (Model.Id == 0) {
        ViewBag.Title = "Новый прием";
    }
    else {
        ViewBag.Title = "Редактирование приема";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewData.ModelState.ContainsKey("save_file_error")) {
        ViewBag.ErrorMessage = String.Format("Ошибка при сохранении дела: {0}", ViewData.ModelState["save_file_error"].Errors[0].ErrorMessage);
    }
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Services)
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Edit", Model)

<div>
    @Html.ActionLink("Возврат к списку", "Index")
</div>