<h2>Список пользователей</h2>

<a data-toggle="modal" data-target="#CreateUser" class="btn btn-primary">Добавить пользователя</a>

<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Имя пользователя</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{user.user_name}}</td>
            <td>{{user.description}}</td>
            <td>
                <a data-toggle="modal" data-target="#UpdateUser" class="glyphicon glyphicon-edit" title="Редактировать" (click)="selectUser(i)"></a>
                <a data-toggle="modal" data-target="#ChangePassword" class="glyphicon glyphicon-lock" title="Сменить пароль" ng-click="find_user($index)"></a>
                <a ng-click="deleteUser($index)" class="glyphicon glyphicon-remove" title="Удалить пользователя" (click)="deleteUser(i)"></a>
            </td>
        </tr>
    </tbody>
</table>

<mfc-user-create (created)="onUserCreated($event)"></mfc-user-create>
<mfc-user-edit (edited)="onUserEdited($event)" [user]="selectedUser"></mfc-user-edit>