<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container' >
    <div class="row custom-modal-header">
        <div class="col-sm-12">
        <div class="pull-left"><h1>{{context.title}}</h1></div>
            <div class="input-group input-buttons pull-right" [ngClass]="{'has-error':!formGroup.controls['caption'].valid && formGroup.controls['caption'].touched}">
                <button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)">Применить</button>
                <button id="button-cancel" class="btn btn-primary" (click)="dialog.dismiss()">Отменить</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" [formGroup]="formGroup" >
                <div class="input-group input-line" [ngClass]="{'has-error':!formGroup.controls['caption'].valid && formGroup.controls['caption'].touched, 'shake': isShaking}">
                    <label>Наименование:</label>
                    <input class="form-control" type="text" placeholder="Введите наименование" [formControl]="formGroup.controls['caption']">
                    <div *ngIf="formGroup.controls['caption'].hasError('required') && formGroup.controls['caption'].touched" class="form-control alert alert-danger">Поле не может быть пустым.</div>
                </div>
            </form>
        </div>
    </div>
</div>