<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container'>
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <div class="pull-left">
                <h1>{{context.title}}</h1>
            </div>
            <div class="input-group input-buttons pull-right">
                <button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="!statusForm.form.valid">Сохранить</button>
                <button id="button-cancel" class="btn btn-warning" (click)="dialog.dismiss()">Отменить</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form #statusForm="ngForm">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Введите наименование" name="caption" [(ngModel)]="context.model.caption"
                        required #caption="ngModel">
                    <div [hidden]="caption.valid||caption.pristine" class="alert alert-danger">Укажите наименование</div>
                </div>
            </form>
        </div>
    </div>
</div>