<h2 class="page-header">Этапы движения дела</h2>
<table>
    <tbody>
        <tr *ngFor="let fileStage of fileStages">
            <td style="text-align:right">{{fileStage.caption}}</td>
            <td>
                <select name="status" class="form-control" (change)="onChangeStatus(fileStage.code,$event.target.value)">
                    <option *ngFor="let status of fileStatuses" 
                        [value]="status.id"
                        [attr.selected]="status.id == fileStage.status.id ? true : null">{{status.caption}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-primary" (click)="saveChanges()" style="width:100%">Сохранить</button>
            </td>
        </tr>
    </tbody>
</table>