<h2 class="page-header">Этапы движения дела</h2>
<table [ngBusy]="{busy: busy, message:busyMessage}">
	<tbody>
		<tr *ngFor="let model of models">
			<td style="text-align:right">{{model.caption}}</td>
			<td>
				<select name="status" class="form-control" (change)="onChangeStatus(model.code,$event.target.value)">
                    <option *ngFor="let status of fileStatuses" 
                        [value]="status.id"
                        [attr.selected]="status.id == model.status.id ? true : null">{{status?.caption}}</option>
                </select>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button class="btn btn-primary" (click)="saveChanges()" style="width:100%">Сохранить</button>
			</td>
		</tr>
	</tbody>
</table>