@model Int32
@{
    var items = new List<MvcHtmlString>();
    items.Add(Html.ActionLink("Пользователи", "List", "Admin"));
    items.Add(Html.ActionLink("Справочник 'Типы ОГВ'", "List", "OrganizationType"));
    items.Add(Html.ActionLink("Справочник 'ОГВ'", "List", "Organization"));
    items.Add(Html.ActionLink("Справочник 'Виды деятельности'", "List", "ActionType"));
    items.Add(Html.ActionLink("Справочник 'Услуги'", "List", "Service"));
    items.Add(Html.ActionLink("Справочник 'Статусы дел'", "List", "FileStatus"));
    items.Add(Html.ActionLink("Настройка этапов движения дела", "Index", "FileStage"));
}
<ul class="nav nav-sidebar">
    @{
        for (var n_index = 0; n_index < items.Count; n_index++) {
            var item = items[n_index];
            
            if (n_index == Model) {
                <li class="active">@item</li>
            }
            else {
                <li>@item</li>
            }
        }

}
</ul>

