@if (Request.IsAuthenticated)
{
    <li class="navbar-text">
        Пользователь:
    </li>
    <li class="dropdown">
        <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>
            @User.Identity.Name
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                @Html.ActionLink("Настройки", "Manage", "Account", null, new {@class = "username", title = "Manage"})
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Вход", "Login", "Account", null, new { @class = "navbar-right", id = "loginLink" })</li>
}

