<span defaultOverlayTarget></span>
<div class='container-fluid custom-modal-container'>
	<div class="row custom-modal-header">
		<div class="col-sm-12">
			<h1>{{context.caption}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form id="organization-type-edit-form" class="form-horizontal" role="form" #orgTypeForm="ngForm">
				<input [(ngModel)]="context.model.id" type="hidden" id="input-id" name="id">

				<input [(ngModel)]="context.model.caption" id="input-caption" class="form-control" name="caption" placeholder="наименование" required
					#caption="ngModel">
				<div [hidden]="caption.valid||caption.pristine" class="alert alert-danger">Укажите наименование</div>

				<div class="form-group input-buttons">
					<div class="col-sm-12 controls">
						<button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="!orgTypeForm.form.valid">Применить</button>
						<button id="button-cancel" class="btn btn-primary" (click)="dialog.dismiss()">Отменить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>