<h1 class="page-header">Справочник 'Типы ОГВ'</h1>


<div [ngBusy]="{busy: busy, message:busyMessage}" style="position: relative">
    <table class="table table-striped table-hover table-condensed table-responsive">
        <colgroup>
            <col class="col-width-25">
            <col>
            <col class="col-width-60">
        </colgroup>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th></th>
                <th>Наименование</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let model of models; let i = index">
                <td>
                    <a (click)="create_ogv_type(model)" class="glyphicon glyphicon-plus add-row-btn" title="Новая запсь"></a>
                </td>
                <td hidden>{{model.id}}</td>
                <td>{{model.caption}}</td>
                <td>
                    <a (click)="edit_ogv_type(model)" class="glyphicon glyphicon-edit" title="Редактировать"></a>
                    <a (click)="delete_ogv_type(model)" class="glyphicon glyphicon-remove" title="Удалить запись"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>