<div class="container-fluid" style="min-height:calc(100% - 171px)">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a [routerLink]="['users']">Пользователи</a></li>
                <li class="active"><a [routerLink]="['organization-types']">Справочник 'Типы ОГВ'</a></li>
                <li><a href="/Organization/List">Справочник 'ОГВ'</a></li>
                <li><a href="/ActionType/List">Справочник 'Виды деятельности'</a></li>
                <li><a href="/Service/List">Справочник 'Услуги'</a></li>
                <li><a [routerLink]="['filestatuses']">Справочник 'Статусы дел'</a></li>
                <li><a [routerLink]="['customer-types']">Справочник 'Категории посетителей/заявителей'</a></li>
                <li><a [routerLink]="['file-stages']">Настройка этапов движения дела</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-md-8 main">
            <section class="content-wrapper main-content clear-fix">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>

