<span defaultOverlayTarget></span>
<div class="container-fluid custom-modal-container">
	<div class="row custom-modal-header">
		<div class="col-sm-12">
			<h3>{{context.title}}</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<button id="button-apply" class="btn btn-success" (click)="dialog.close(context.model)" [disabled]="context.model.files==0"
				style="width:100%">Сохранить</button>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<button id="button-cancel" class="btn btn-default" (click)="dialog.dismiss()" style="width:100%">Отменить</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<form id="file-editor" class="form" role="form" [ngBusy]="{busy: busy, message:busyMessage}" style="position: relative">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>Дата</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.date | date: 'dd.MM.yyyy'}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>Эксперт</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.expert?.description}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>ОГВ</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.organization?.caption}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>Услуга</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.action?.service?.caption}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>Контролёр</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.controller?.description}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:right">
						<label>Статус</label>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<span>{{context.model.status?.caption}}</span>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Описание</label>
						<input class="form-control" name="caption" [(ngModel)]="context.model.caption">
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="panel panel-default" style="padding: 5px;">
				<button class="btn btn-warning btn-action" (click)="ChangeStatus('control')">Отправить на контроль</button>
				<button class="btn btn-danger btn-action" (click)="ChangeStatus('fix')">Вернуть для исправления</button>
				<button class="btn btn-success btn-action" style="margin-bottom:0" (click)="ChangeStatus('check')">Проверено</button>
				<hr>
				<button class="btn btn-primary btn-action" (click)="editActionOfFile(context.model.action)">Прием</button>
				<button class="btn btn-primary btn-action" (click)="historyFile(context.model.id)">Показать историю</button>
			</div>
		</div>
	</div>
</div>