<div [ngBusy]="{busy: busy, message:busyMessage}" style="position: relative; margin-left:90px">
    <div id="navbar" class="navbar-collapse collapse main-menu">
        <ul class="nav navbar-nav navbar-left">
            <li *ngIf="actions['action']"><a [routerLink]="['actions']">Приемы</a></li>
            <li *ngIf="actions['file']"><a [routerLink]="['files']">Дела</a></li>
            <li *ngIf="actions['package']"><a [routerLink]="['packages']">Пакеты</a></li>
            <li *ngIf="actions['report']"><a [routerLink]="['reports']">Отчеты</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['work']">Главная</a></li>
            <li *ngIf="actions['admin']"><a [routerLink]="['admin']">Администрирование</a></li>
            <li *ngIf="isLoggedIn">
                Пользователь:
            </li>
            <li class="dropdown">
                <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-user"></span> {{getCurrentUser().Caption}}
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a [routerLink]="['settings']">Настройки</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a [routerLink]="['login']">Выйти</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="!isLoggedIn"><a [routerLink]="['login']">Войти</a></li>
        </ul>
    </div>
</div>