<div class='container-fluid custom-modal-container'>
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>{{header_text}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form id="action-type-edit-form" class="form-horizontal" role="form" #actionTypeForm="ngForm">
                <md-input-container class="m-input-container">
                    <input mdInput [(ngModel)]="context.model.caption" id="input-caption" name="caption" placeholder="Наименование" required
                        #caption="ngModel" />
                </md-input-container>
                <md-checkbox class="example-margin" [(ngModel)]="context.model.need_make_file" name="need_make_file" id="need_make_file">Создавать дело</md-checkbox>
                <div class="form-group input-buttons">
                    <div class="col-sm-12  text-right">
                        <button md-raised-button id="button-apply" (click)="submit(context.model)" [disabled]="!actionTypeForm.form.valid">OK</button>
                        <button md-button id="button-cancel" (click)="dialogRef.close()">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>